/*
    AUTHOR: YOUR NAME HERE
            you@domain.com
*/



/* ------------------------------------------ */
/* 
/* ------------------------------------------ */
body{

 	background: #00ff00;
 	border: black dashed 10px;
 	border-radius: 10px;
 	padding: 2cm 10cm 2cm;
}